body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

input {
  width: 50rem;
  font-family: "Montserrat", sans-serif;
}

#add-button {
  display: block;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  max-width: max-content;
  margin-inline: auto;
  margin-top: 1rem;
  background-color: #b192c6;
  font-family: "Montserrat", sans-serif;
}

.task {
  display: block;
  margin-inline: auto;
  max-width: max-content;
  padding: 0.7rem;
  height: 1.4rem;
  background-color: #894db1;
  border: none;
  border-radius: 5px;
}

button {
  border: none;
  border-radius: 3px;
  max-width: max-content;
  margin-left: 1.3rem;
  background-color: #d4c5de;
  font-family: "Montserrat", sans-serif;
}
